.top-b{
    // margin-left:77%;
    // padding: 5px 10px;
    // width: 10em;
    // border-radius: 20px;
    // background: #0ec9ae;
}
.table-head{
    font-size: 13px;
    font-weight: bold;
    color: grey;
}
.badge_adj {
    background: #0ec9ae;
    padding: 5px;
}
.card{
    background: #f8f9fa;
}
.top-tag{
    font-size: 13px;
    font-weight: bold;
    color: grey;
}

.bottom-tag{
    color: grey;
}